#apiVersion: kustomize.config.k8s.io/v1beta1
#kind: Kustomization
#namePrefix: kustomize-
#
#resources:
#  - ../../releases/v1.0.0
#  - ../../releases/base/nginx.yaml

#patches:
#  - path: ./overrides/nginx.yaml


apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namePrefix: kustomize-
resources:
  - ../../releases/base/nginx.yaml
