apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namePrefix: app-
resources:
  - ../../releases/v1.0.0  # Adjust path if necessary

#patches:
#  - path: ./overrides/nginx.yaml

patchesStrategicMerge:
  - ./overrides/nginx.yaml